.footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #101f44;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
}

body{
    position: relative;
    min-height: 100%;
    box-sizing: inherit;
    max-width: 100%;
    overflow-x: hidden;
}

html{
    height: 100%;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}