body{
    margin: 0;
}

.content{
    align-items: center;
}

.upper-content{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    background: #101f44;
    align-items: center;
}

.input-title{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.input-sub-title{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

.input-field{
    display: flex;
    justify-content: center;
}

.input-style{
    border-radius: 10px;
    width: 360px;
    height: 30px;
}

.download-buton{
    border-radius: 10px;
    width: 120px;
    height: 30px;
}


.input-option{
    display: flex;
    justify-content: left;
}

.input-option-item{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 10px;
    padding-right: 10px;
}

.input-error{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

/* The alert message box */
.alert {
    padding: 20px;
    color: #f44336;
    font-family: Arial, Helvetica, sans-serif;
}
  
/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.lower-content{
    width: 100vw;
    height: 50vh;
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.tutorial-title{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.tutorial-sub-title{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    display: flex;
    justify-content: center;
}

.tutorial-image{
    display: flex;
    justify-content: center;
}


@media (max-width: 1000px){

    .image-resize{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 600px){

    .upper-content{
        height: 35vh;
    }

    .input-title{
        font-size: 10px;
    }    

    .input-sub-title{
        font-size: 12px;
    }

    .input-style{
        border-radius: 10px;
        width: 180px;
        height: 16px;
        font-size: 9px;
    }

    .download-buton{
        border-radius: 10px;
        width: 85px;
        height: 20px;
        font-size: 9px;
    }

    .input-option-item{
        font-size: 12px;
        padding-top: 4px;
    }

    .tutorial-title{
        font-size: 15px;
    }

    .tutorial-sub-title{
        font-size: 12px;
        line-height: 20px;
    }

    .alert{
        font-size: 12px;
    }
    
    
}

@media (max-width: 400px){

    .upper-content{
        height: 28vh;
    }


    .input-title{
        font-size: 7px;
    }    

    .input-sub-title{
        font-size: 10px;
    }

    .input-style{
        border-radius: 10px;
        width: 120px;
        height: 12px;
        font-size: 9px;
    }

    .download-buton{
        border-radius: 10px;
        width: 80px;
        height: 16px;
        font-size: 9px;
    }

    .input-option-item{
        font-size: 9px;
        padding-top: 4px;
    }

    .tutorial-title{
        font-size: 12px;
    }

    .tutorial-sub-title{
        font-size: 9px;
        line-height: 20px;
    }

    .alert{
        font-size: 9px;
    }
}