body{
    margin: 0;
}

.content{
    align-items: center;
}

.upper-content{
    width: 100vw;
    height: 60vh;
    background: #101f44;
}

.channel_info_header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.channel_info_itens{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_item{
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
}

.info_item_icon{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.info_item_title{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

.info_item_display{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.channel_title{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

.profile{
    align-items: center;
}

.profile_pic{
    display: flex;
    justify-content: center;
    padding: 20px;
}


.charts-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.charts-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.analytics-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 50px;
}

.analytics-title{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
}

.analytics-info-row{
    display: flex;
    justify-content: space-evenly;
}

.analytics-info-item{
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
    /* border:1px solid black;
    border-radius: 10px;
    padding: 20px 50px; */
}

.analytics-info-title{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
}

.analytics-info-content{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2098e8;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}