body{
    margin: 0;
}

.content{
    align-items: center;
}

.upper-content{
    width: 100vw;
    height: 66vh;
    background: #101f44;
}


.back-button{
    background-color: #101f44;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
  }


.channel_info_header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.channel_info_itens{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_item{
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
}

.info_item_icon{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.info_item_title{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

.info_item_display{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.channel_title{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

.profile{
    align-items: center;
}

.profile_pic{
    display: flex;
    justify-content: center;
    padding: 20px;
}


.charts-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.charts-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.analytics-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 50px;
}

.analytics-title{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
}

.analytics-info-row{
    display: flex;
    justify-content: space-evenly;
}

.analytics-info-item{
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
}

.analytics-info-title{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
}

.analytics-info-content{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2098e8;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}


.top-videos-content{
    display: flex;
    justify-content: center;
    align-items: center;
}


.top-videos-row{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
}

.top-videos-row-item{
    max-width: 90vw;
    font-family: Arial, Helvetica, sans-serif;
}

.video-thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

.video-stats{
    align-items: center;
}

.video-stats-item{
    display: flex;
    align-items: center;
    padding: 5px;
}

.video-stats-icon{
    padding-right: 5px;
}


.top_hashtags-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-link{
    padding-left: 5px;
}




/* Responsive */
@media (max-width: 1100px){

    .charts-row{
        display: grid;
    }

    .analytics-info-row{
        display: grid;
    }

}


@media (max-width: 900px){
    .upper-content{
        height: 60vh;
    }

    .back-button{
        padding: 11px 28px;
    }

    .channel_title{
        font-size: 40px;
    }

    .info_item_icon{
        font-size: 17px;
    }

    .info_item_title{
        font-size: 13px;
    }

    .info_item_display{
        font-size: 17px;
    }

    .info_item{
        padding: 5px 15px;
    }




    .top-videos-row{
        display: grid;
    }

    .top-videos-row-item{
        font-size: 14px;
    }

    .video-stats{
        display: flex;
        justify-content: center;
        align-items: normal;
    }

}

@media (max-width: 500px){

    .back-button{
        padding: 9px 26px;
    }

    .upper-content{
        height: 55vh;
    }

    .channel_title{
        font-size: 30px;
    }

    .info_item_icon{
        font-size: 15px;
    }

    .info_item_title{
        font-size: 11px;
    }

    .info_item_display{
        font-size: 15px;
    }

    .info_item{
        padding: 2px 5px;
    }

    .top-videos-row-item{
        font-size: 12px;
    }


}