<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>YT Channel Data Extrator</title>
</head>
<body>
    <div class="content">
        <div class="upper-content">
            <div class="input-content">
                <div class="input-title">
                    <h1>Youtube Channel Data Extractor</h1>
                </div>
                <div class="input-sub-title">
                    <p>
                        Extract data from Youtube channels
                    </p>
                </div>
                <div class="input-field">
                    <form method="post" autocomplete="off">
                        <input class="input-style" type="text" name="channelID" placeholder="Insert channel ID here" required>
                        <button class="download-buton" type="submit">Download Data</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="lower-content">
            <div class="tutorial-title">
                <p>How to find channel ID?</p>
            </div>
            <div class="tutorial-sub-title">
                <p>
                    1 - Go to the "ABOUT" section of the target channel
                    <br/>
                    2 - Click on share icon
                    <br/>
                    3 - Click on "Copy channel ID"
                </p>                
            </div>
            <div class="tutorial-image">
                <img src="../static/images/tutorial.png" class="image-resize">
            </div>
        </div>
    </div>
</body>
</html>