<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <title>YT Channel Data Extrator</title>
</head>
<body>
    <div class="content">
        <div class="upper-content">
            <div class="input-forms">
                <div class="input-title">
                    <h1>Youtube Channel Data Extractor</h1>
                </div>
                <div class="input-sub-title">
                    <p>
                        Extract data from Youtube Channels
                    </p>
                </div>
                <div class="input-field">
                    <form method="post" autocomplete="off">
                        <input class="input-style" type="text" name="channelID" placeholder="Insert Channel ID here" required>
                        <button class="download-buton" type="submit">Download Data</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="lower-content">
            <div class="tutorial-title">
                <h1>How to find channel ID?</h1>
            </div>
        </div>
    </div>
</body>
</html>